<section id="todos">
  <header>
    <h2>Editing "<%= @list[:name] %>"</h2>
      <ul>
        <li>
          <form action="/lists/<%= @list_number %>/delete" method="post">
            <button class="delete" type="submit">Delete List</button>
          </form>
        </li>
    </ul>
  </header>
</section>

<form action="/lists/<%= @list_number %>" method="post">
  <dl>
  	<dt>
      <label for="list_name">Enter the new name for the list:</label>
  	</dt>
  	<dd>
  	  <input name="list_name" placeholder="" type="text" value="<%= params[:list_name] || @list[:name] %>">
  	</dd>
  </dl>
  <fieldset class="actions">
  	<input type="submit" value="Save">
  	<a href="/lists/<%= @list_number %>">Cancel</a>
  </fieldset>
</form>